# Django settings
DJANGO_SECRET_KEY=django-insecure-change-this-in-production-key-#12345
DJANGO_DEBUG=True
DJANGO_SETTINGS_MODULE=core.settings.dev
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1,0.0.0.0

# Database (Production only)
DB_NAME=ecommerce_db
DB_USER=postgres
DB_PASSWORD=postgres
DB_HOST=localhost
DB_PORT=5432

# Email (Gmail SMTP)
EMAIL_HOST_USER=your-email@gmail.com
EMAIL_HOST_PASSWORD=your-gmail-app-password
DEFAULT_FROM_EMAIL=Ecommerce Admin <your-email@gmail.com>

# OTP Settings
OTP_LENGTH=6
OTP_EXPIRY_MINUTES=10

# Frontend (Vite default port 5173)
FRONTEND_URL=http://localhost:5173


# Google OAuth
GOOGLE_CLIENT_ID=your-google-client-id.apps.googleusercontent.com

